@import "base";
@import "body";
@import "header";



/* Uso de mixin */
@mixin titulos($fondo, $margeninf) {
    font-family: Lobster, 'lobster', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: $margeninf;
    background-color:$fondo;
}

  /* Estilos del h1 */
.h1Main{
    @include titulos(rgb(243, 230, 207),20px);
}
 /* Estilos del h2 */
.h2Main{
    @include titulos(white,20px);
}
 /* Estilos del parrafo del inicio */
.pInicio{
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* Uso del extend para un parrafo */
.pNosotros{
  @extend .pInicio;
  font-size: 26px;
} 
 /* Estilos imagenes del aside */
.aside__image{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
 /* Estilos del formulario */
.form--fondo{
    background-color:rgb(243, 230, 207);
}
 /* Estilos del Iframe con google maps */
.iframe__ubicacion{
    margin-top: 50px;
    border:#6155A6 solid;
    margin: auto;
}

/* FOOTER */
.footer{
    width: 100%;
    background-color:rgb(243, 230, 207);  
    margin-top: auto;
    text-align: center;
}



